#!/usr/bin/env bash

# Destination device (e.g. /dev/sda)
DESTINATION_DEVICE=

# Hostname
HOSTNAME=home

# City (for timezone, e.g. Melbourne)
CITY=

# Country (for timezone and fastest pacman mirror, e.g. Australia)
COUNTRY=

function log_progress {
  echo -e "\n[$(date +"%d/%m/%Y %k:%M:%S")]: $1" >&2
}

