#!/usr/bin/env bash

# Destination device (e.g. /dev/sda)
DESTINATION_DEVICE=/dev/nvme1n1

# Hostname
HOSTNAME=msi

# City (for timezone, e.g. Melbourne)
CITY=Melbourne

# Country (for timezone and fastest pacman mirror, e.g. Australia)
COUNTRY=Australia

function log_progress {
  echo -e "\n[$(date +"%d/%m/%Y %k:%M:%S")]: $1" >&2
}

